/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Sahitya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Sahitya', serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Added overflow-x: hidden to turn of horizontal scrolling */
body{
  background-color: #ffffff;
  overflow-x: hidden;
}

header{
  width: 100vw;
  height: 180px;
  background-color: #091806;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

header img{
  width: 14%;
  height: auto;
  margin: 10px;
}

/* Added width: 100vw to make sure the background image is as wide as the browser window */
.main-content-home{
  background-image: url('../img/EBTfhqWWkAE6FQJ.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 750px;
  margin: 0px;
  width: 100vw;
}

/* added margin: 0px to make sure there was no space around the h1 */
.main-content-home h1{
  color: black;
  -webkit-text-fill-color: #00E82C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: 'Quantico', sans-serif;
  margin: 0px;

}

/* added in navigation styles to get the nav positioned and the links to line up */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  right: 500px;
  top: 80px;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  margin: 15px;
}

nav ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 48px;
  font-family: 'Headland One', serif;
}

.main-content-about h1{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: 'Quantico', sans-serif;
  margin: 0px;
}

.main-content-about p{
  font-family: 'Sahitya', serif;
  color: black;
}

.main-content-about .heading{
  justify-content: center;
  display: flex;
  column-span: all;
}

.main-content-about .biographies{
  column-count: 4;
  column-gap: normal;
  column-width: 100px;
  display: flex;
}

.biobox{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 25px;
  width: 20%;
}

.biobox h2{
  margin: 0px;
}

.main-content-tour h1{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: 'Quantico', sans-serif;
    margin: 0px;
}

.TourDates{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  margin: 0 auto;
}

.cities, .dates {
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 2%;
}

.main-content-tour ul{
  list-style-type: none;
  text-align: left;
}

.main-content-tour ul li{
    margin: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 48px;
    font-family: 'Quantico', serif;
}

.main-content-contact{
  background-color: #f2f2f2;
}

.main-content-contact h1{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: 'Quantico', sans-serif;
    margin: 0px;
}

form input{
  margin: 25px 220px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.contactinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
}

input[type=text], input[type=email]{
  width: 55%;
}

::placeholder{
  font-family: 'Roboto', sans-serif;
}

input[type=submit]{
  border: none;
  background-color: black;
  color: white;
}

textarea{
  margin: 25px 220px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 55%;
  height: 55%;
}

footer{
  width: 100vw;
  height: 100px;
  background-color: #091806;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: white;
  position: relative;
  bottom: 0px;
}


/* Off Canvas Menu - You will need to style to your liking */

.hamburger{
  font-size: 30px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Media Queries */

@media screen and (max-width: 768px){

  nav {
    right: 260px;
}

.main-content-tour ul li {
  font-size: 30px;
}

.contactinfo {
  position: relative;
  left: -50px;
}

.heading p{
  width: 80%;
}

.TourDates {
  position: relative;
  left: -35px;
}

#fixedfooter{
  position: fixed;
}

}





@media screen and (max-width: 320px){

  header{
    width: 100vw;
    height: 90px;
  }

  header img{
    width: 27%;
    height: auto;
    margin: 10px;
  }

  nav {
    right: 85px;
    top: 30px;
}

nav ul li a{
  font-size: 30px;
}

.main-content-home h1{
  font-size: 27px;
}

.main-content-home{
  height: 450px;
  width: 100vw;
}

.main-content-about h1{
  font-size: 60px;
}

.main-content-about .heading{
  text-align: center;
}

.biographies{
  flex-direction: column;
}

.biobox{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  width: 85%;
}

.main-content-tour h1{
    font-size: 45px;
}

.cities, .dates {
  width: 95%;
  margin: 1%;
}

.main-content-tour ul li{
    margin: 15px;
    font-size: 13px;
}

.main-content-contact h1 {
  position: relative;
  left: 40px;
}

form input {
  margin: 9px 70px;
  padding: 7px 34px;
  font-size: 20px;
  border-radius: 28px;
  border: 4px solid white;
}

textarea{
  margin: 9px 70px;
  padding: 7px 34px;
  font-size: 20px;
  border-radius: 28px;
  border: 4px solid white;
  width: 55%;
  height: 55%;
}

footer{
  width: 100vw;
  height: 65px;
}

#fixedfooter{
  position: fixed;
}

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
